/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/
/src/
.nvmrc
.prettierrc
jets.config.js
tsconfig.json
.editorconfig
.eslintrc.js
.npmrc