name: Publish Release

on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        scope: '@paggue'
        registry-url: 'https://registry.npmjs.org'
        token: '${{secrets.NPM_TOKEN}}'
        always-auth: true
    - run: yarn --frozen-lockfile --ignore-scripts
    - run: yarn build
    - run: cat "$NPM_CONFIG_USERCONFIG"
    - run: yarn publish --access public
      env:
        NODE_AUTH_TOKEN: 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